.need{
    height: 470px;
}
.need_title{
    width: 550px;
    height: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 0.24;
    text-align: left;
    color: #0e1a35;
    margin-top: 25px;
}
.need_subtitle{
    width: 450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    text-align: left;
    color: #8492af;
    margin-bottom: 60px;
}
.need_descr{
    margin-top: 30px;
}
.need_text{
    display: inline;
    margin-left: 20px;
    font-size: 22px;
    line-height: 1.36;
    text-align: left;
    color: #5584ff;
}
.need_descr img{
    margin-left: 10px;
}
.need_img{
    margin-top: 50px;
}
