.promo {
background: url(../icons/grid.png) center (center/cover) no-repeat;
height: 1100px;
background-color: #0e1a35;
}
.header__logo{
    display: inline-block;
    margin-top: 67px;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 67px 0px 0px 394px;
    margin: 0;
    list-style-type: none;
    &_item{
        padding-left: 30px;
    }
}
nav{
    display: inline-block;
}
.title{
  width: 864px;
  height: 59px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 0.24;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 150px;
}
.sub_title{
    height: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    line-height: 0.4;
    text-align: center;
    color: #8492af;
    margin: 0 auto;
}
.home{
    margin-top: 80px;
}
.home_image{
    display: block;
    margin: 0 auto;
}
